* {
    font-family: 'Montserrat', sans-serif;
}
body  {
    /* padding-bottom: 70px; */
    
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("assets/blockpropertythingy.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow-x: auto;
}

.main-body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-nav>li>a.navbar-item {
    color: white;
    text-shadow: 1px 1px 5px black;
    font-weight: 500;
    font-size: 20px;
}
.navbar-nav>li>a.navbar-disabled {
    color: #a8a8a8;
}
.navbar-nav>li>a.navbar-item:hover {
    color: white;
    text-decoration: underline;
}
.navbar-nav>li>a.navbar-item.navbar-disabled:hover {
    color: #a8a8a8;
}

.vertical-divider {
    height: 40px;
    width: 2px;
    margin: 5px 9px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
}
.horizontal-divider, hr {
    height: 1px;
    /* margin: 9px 0; */
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 5px black, 1px 1px 2px black;
}


h1, h2, h3, p, .written-list>li {
    color: white;
    text-shadow: 0px 0px 5px black, 2px 2px 3px black;
}

h1 {
    font-size: 40px;
}
h2, p {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}

a {
    color: #4eacfd;
}
a:hover {
    color: #bde0ff;
}

.select-option {
    margin: 5px 4px;
    font-size: 14px;
    padding: 6px 16px !important;
    margin: 0px;
}
#selection {
    padding: 0;
}
#selection:last-child {
    margin-bottom: 5px;
}
.selected {
    background-color: #B7E1CD;
}
.selected:hover {
    background-color: #AED6C3 !important;
}
.col-sm-12, .container-fluid {
    padding: 0;
}

.results {
    max-width: fit-content;
    margin:auto;
    padding: 0px;
    display: flex;
    align-items: center;
    /* overflow-x: auto; */
    height: 100%;
    flex-grow: 1;
}

#output_table {
    width: fit-content;
    align-items: center;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: white;
    filter: drop-shadow(0px 0px 4px gray);
}
#output_table>*>*>td, .table.nested-table>*>*>td {
    padding: 4px 6px;
}

li {
    list-style-position: inside;
}

.table-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0 auto;
    padding: 6px 8px;
    height: 100%;
    /* cursor: progress; */
}
.table-header:hover {
    text-decoration: none;
    color: #666;
}

.justify-start {
    margin-right: auto;
}
.scrollable {
    max-height: 60vh;
    overflow-y: auto;
}
.dropdown-option {
    display: flex !important;
    justify-content: space-between;
}
.dropdown-option>.glyphicon-ok, .icons {
    margin-left: 10px;
    white-space: nowrap;
}
.modify-filter {
    padding: 3px 15px !important;
}

.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    margin-left: -2px;
    margin-right: 3px;
}

.sprite {
    display: inline-block;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.block-sprite {
    background-image: url(assets/BlockCSS.png);
}
.entity-sprite {
    background-image: url(assets/EntityCSS.png);
}
.item-sprite {
    background-image: url(assets/ItemCSS.png);
}

.display-none {
    display: none !important;
}

.icons {
    align-self: center;
}

.table-bordered>tbody>tr>td,
.table-bordered>thead>tr>th,
.table-bordered {
    border-color: #AAA;
}

th {
    background-color: #f5f5f5;
    border-bottom-width: 0 !important;
    box-shadow: inset 0 -1px 0 #AAA;
    padding: 2px 0 !important;
    position: sticky;
    top: -1px;
    /* z-index: 2; */
}

/* Conditional formatting: */
.cf-yes { background-color: #B7E1CD !important;}
.cf-no { background-color: #F4C7C3 !important;}
.cf-neutral { background-color: #FCE8B2 !important;}
.cf-neutral-yes { background-color: #DDE6BA !important;}
.cf-neutral-no { background-color: #F9D9B8 !important;}

.cf-invalid { background-color: #CCC !important;}

/* .cf-numeric { background-color: #D0EBFB;} */

.nested-table {
    margin-bottom: 0px;
    width: 100%;
    /* border-collapse: collapse;
    border-style: hidden; */
}
.nested-cell {
    height: auto;
    padding: 0px !important;
}
td .nested-table {
    width: 100%;
    white-space: nowrap
}
.nested-table>tbody>tr>td:last-child {
    width: 22px;
    /* text-align: right; */
    white-space: nowrap;
}

.expand-btn {
    color: #333;
    background-color: #A3D6FC;
    border-color: #aaa;
}

.settings {
    margin: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.settings-box {
    min-width: fit-content;
    margin: 5px;
    padding: 7px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 4px black;
}
.settings-box>p {
    color: black;
    text-shadow: none;
    font-size: 24px;
}
.settings-box>button, .settings-box>.btn-group, .settings-box>a {
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(47, 47, 47, 0.828);
}